<div class="conainer" *ngIf="!inventory.length">
  <div class="row">
    <div class="col text-center">
      <span>No hay productos en stock. Ingresa productos ahora: </span><br>
      <button class="btn btn-outline-primary mt-3" role="button" [routerLink]="['ingresar']"><i class="pi pi-plus"></i> Ingresar productos</button>
    </div>
  </div>
</div>

<div class="container" *ngIf="inventory.length">

  <div class="row">
    <div class="col-md-12 mb-4">
      <h1 class="h3">Inventario</h1>
      <hr>
    </div>
  </div>

  <div class="row" *ngIf="currentUser.tipoUsuario">

    <div class="col-sm-12 col-md-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="pi pi-search"></i>
          </span>
        </div>
        <input type="text" class="form-control" placeholder="Búsqueda por código de barra" (input)="tt.filterGlobal($event.target.value, 'contains')">
      </div>
    </div>

    <div class="col-md-4" *ngIf="currentUser.tipoUsuario.id !== 3">
      <button class="btn btn-primary float-right" role="button" [routerLink]="['ingresar']"><i class="pi pi-plus"></i> Ingresar productos</button>
    </div>
  </div>

  <div class="row mt-4 mb-5">
    <div class="col-sm-12">
      <p-table #tt [styleClass]="'shadow'" [globalFilterFields]="['codigoDeBarra']" [value]="inventory">
        <ng-template pTemplate="header">
            <tr>
                <th width="15%">Codigo de barra</th>
                <th width="15%">Categoría</th>
                <th width="40%">Descripción</th>
                <th width="10%" class="text-center">Stock</th>
                <th width="10%" class="text-center">Estado</th>
                <th width="10%" class="text-center">Detalle</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr [className]="!product.stockTotal ? 'text-danger': ''">
                <td>{{product.codigoDeBarra}}</td>
                <td>{{product.categoria.nombre | titlecase}}</td>
                <td>{{product.descripcion}}</td>
                <td class="text-center">{{ product.stockTotal ? product.stockTotal : 'Sin stock' }}</td>
                <td class="text-center">
                  <i class="pi pi-check-circle text-success" *ngIf="product.stockTotal > product.stockCritico" pTooltip="Suficientes productos"></i>
                  <i class="pi pi-info-circle text-warning" *ngIf="product.stockTotal <= product.stockCritico && product.stockTotal" pTooltip="Stock crítico"></i>
                  <i class="pi pi-exclamation-circle text-danger" *ngIf="!product.stockTotal"  pTooltip="No quedan productos"></i>
                </td>
                <td class="text-center">
                  <button type="button" *ngIf="product.stockTotal" class="btn" data-toggle="modal" (click)="getInventoryDetail(product.id)" data-target="#detailModal"><i class="pi pi-search"></i></button>
                  <span *ngIf="!product.stockTotal">-</span>
                </td>
            </tr>
        </ng-template>
    </p-table>
    </div>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalle inventario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p-table #mt [value]="inventoryDetail">
          <ng-template pTemplate="header">
              <tr>
                <th scope="row">SKU</th>
                <th class="text-center">Cantidad</th>
                <th class="text-center">Fecha vencimiento</th>
                <!-- <th class="text-center">Orden de compra</th> -->
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-detail>
            <tr>
              <td>
                <ngx-barcode6
                  [bc-format]="'CODE39'"
                  [bc-value]="detail.sku"
                  [bc-display-value]="true"
                  [bc-width]="1"
                >
                </ngx-barcode6>
              </td>
              <td class="text-center">{{ detail.stock }}</td>
              <td class="text-center" [class.text-muted]="!detail.fechaVencimiento">{{ detail.fechaVencimiento ? detail.fechaVencimiento : 'No vence'}}</td>
              <!-- <td class="text-center"><button type="button" class="btn" (click)="openOrderViewer(detail.ordenDeCompra)">Ver</button></td> -->
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
