

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="buttons">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Historial de cambios</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table" *ngIf="order">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Detalle</th>
              <th>Usuario</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let history of order.historial">
              <td>{{ history.fecha }}</td>
              <td>{{ history.detalle }}</td>
              <td>{{ history.usuario.detalle.nombre + ' ' + history.usuario.detalle.apellido }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-3" *ngIf="order">
    <div class="col-sm-12 pl-0 pr-0">
      <button class="btn btn-secondary" [routerLink]="['/admin/ordenes-de-compra']" *ngIf="buttons"><i class="pi pi-arrow-left"></i></button>
      <div class="btn-group float-right" role="group" aria-label="Basic example">
        <button class="btn btn-outline-primary" (click)="onExportPDFClick()"><i class="pi pi-download"></i> PDF</button>
        <button class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal" *ngIf="buttons"><i class="pi pi-clock"></i> Historial</button>
        <button class="btn btn-outline-primary" *ngIf="!(order.activo == 0 || order.activo == 2) && buttons" (click)="cancelOrder(order.id)"><i class="pi pi-times"></i> Anular</button>
        <button class="btn btn-outline-primary" [routerLink]="['/admin/inventario/ingresar/' + order.id]" *ngIf="!(order.activo == 0 || order.activo == 2) && buttons"><i class="pi pi-check"></i> Recibir</button>
      </div>
    </div>
  </div>
</div>

<div class="container border mt-3 mb-4" *ngIf="order">
  <div id="orderToPdf" class="p-4">

    <div class="row">
      <div class="col-sm-12">
        <img src="assets/img/logo-ferme-ferreteria.jpg" alt="Logo OC" style="width: 100%; max-width: 140px; min-width: 90px;">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 p-3">
        <h1 class="text-center h3" *ngIf="businessInfo">{{ businessInfo.razonSocial }}</h1>
        <h2 class="text-center h4">Orden de compra Nº{{ order.id }}</h2>
        <p class="text-center">Fecha: {{ order.historial[0].fecha }}</p>
      </div>
    </div>

    <!-- datos empresa -->
    <div class="row mt-2">
      <div class="col-sm-12">
        <p class="font-weight-bold">Orden de compra para:</p>
        <div class="border p-2">
          <div class="row">
            <div class="col-md-6">
              <p>Razón Social: {{ order.proveedor.detalle.nombre }}</p>
            </div>
            <div class="col-md-6">
              <p>RUT: {{ order.proveedor.rut }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p>Dirección: {{ ( order.proveedor.detalle.direccion && order.proveedor.detalle.comuna ) ? order.proveedor.detalle.direccion + ', ' + order.proveedor.detalle.comuna : '-' }}</p>
            </div>
            <div class="col-md-6">
              <p>Teléfono: {{ order.proveedor.detalle.telefono || '-' }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p>Método de pago: {{ order.metodoDePago | titlecase }}</p>
            </div>
            <div class="col-md-6">
              <p>Pago factura: {{ (order.pagoFacturaDias == 0) ? 'Contra entrega' : order.pagoFacturaDias + ' días'}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /datos empresa -->

    <!-- datos ferme -->
    <div class="row mt-3">
      <div class="col-sm-12">
        <p class="font-weight-bold">Facturar a:</p>
        <div class="border p-2" *ngIf="businessInfo">
          <div class="row">
            <div class="col-md-6">
              <p>Razón Social: {{ businessInfo.razonSocial }}</p>
            </div>
            <div class="col-md-6">
              <p>RUT: {{ businessInfo.rut }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p>Dirección: {{ businessInfo.direccion + ', ' + (businessInfo.comuna.comuna | titlecase ) }}</p>
            </div>
            <div class="col-md-6">
              <p>Teléfono: {{ businessInfo.telefono }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /datos ferme -->

    <!-- table -->
    <div class="row mt-3">
      <div class="col-sm-12">
        <p class="font-weight-bold">Detalle de productos:</p>
        <table class="table table-bordered table-sm">
          <thead>
            <tr>
              <th scope="col">Descripción</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio unitario</th>
              <th scope="col">Subtotal</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of order.detalle">
              <td>{{ item.producto.descripcion}}</td>
              <td>{{ item.cantidad}}</td>
              <td>{{ item.precioCompra | currency:'CLP' }}</td>
              <td>{{ item.precioCompra * item.cantidad | currency:'CLP' }}</td>
            </tr>
            <tr class="font-weight-bold">
              <th scope="row" colspan="2"></th>
              <td class="text-right">Total Neto</td>
              <td>{{ orderSubTotal | currency:'CLP' }}</td>
            </tr>
            <tr class="font-weight-bold">
              <th scope="row" colspan="2"></th>
              <td class="text-right">IVA (19%)</td>
              <td>{{ orderTax | currency:'CLP' }}</td>
            </tr>
            <tr class="font-weight-bold">
              <th scope="row" colspan="2"></th>
              <td class="text-right">Total</td>
              <td>{{ orderTotal | currency:'CLP'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- /table -->

    <!-- commentary -->
    <div class="row">
      <div class="col-sm-12">
          <p class="font-weight-bold">Comentarios:</p>
          <div class="border pl-2 pt-4 pr-2 pb-4">{{order.comentario}}</div>
      </div>
    </div>
    <!-- /commentary -->

  </div>
</div>
