<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="assets/img/logo.svg" width="130" alt="logo" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/admin/ordenes-de-compra']">Ordenes de compra</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/admin/inventario']">Inventario</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-target="#maintainDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Administración
          </a>
          <div class="dropdown-menu" id="maintainDropdown">
            <a class="dropdown-item" href="#" [routerLink]="['/admin/productos']"> Mantenedor de productos</a>
            <a class="dropdown-item" href="#" [routerLink]="['/admin/productos/categorias']"> Mantenedor de categorías</a>
          </div>
        </li>

      </ul>

      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-target="#userMenuDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ 'Hola ' + currentUser.detalle.nombre  }}
          </a>
          <div class="dropdown-menu" id="userMenuDropdown">
            <button class="dropdown-item" (click)="logout()"><i class="pi pi-sign-out"></i> Cerrar sesión</button>
          </div>
        </li>
      </ul>

    </div>
  </div>
</nav>
